<script language="javascript">
  window._token = '<%= form_authenticity_token %>';
</script>

<h1>All users</h1>
<% @users.each do |user| %>
  <%=best_in_place [:admin, user], :name%> 
  <%=best_in_place [:admin, user], :email%> 
  <%=best_in_place [:admin, user], :role%> 

<% end %>
